*{
    padding: 0;
    margin: 0;
}

header{
        padding: 0;
        margin: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    background-color:antiquewhite;
}

footer{
    background-color: #090a01;
    padding-bottom: 30px;
    width: 100%;
}
/* ************************************************* HEADER ******************************* */
nav{
        overflow: hidden;
        position: fixed;
        width: 100%;
}

li {
        text-align: center;
        list-style:none;
        padding:10px;
        font-size:25px;
        text-decoration:none;
}

li span{
        color: #eb0c0c;
}


nav ul {
        padding:0;
        margin:0;
}

nav ul li {
        list-style: none;
        float:right;
        background: scroll;
}

nav ul li a {
        color:rgb(45, 171, 225);
        padding:10px;
        font-size:25px;
        text-decoration:none;
        }

li a:hover {
        border-bottom:3px rgb(111, 9, 9) solid;
        background-color: white;
        color:blue;
}

nav ul li ul li{
            display: none;
}
        
nav ul li:hover ul li{
        z-index:99999;
        display:list-item !important;
        margin-top:10px;
        margin-left:-10px;
        float: none;
}

#visa ul{
        display:none;
}
    
#visa:hover ul{
    display:block;
    margin-top:10px;
    margin-left:-10px;
    float:none;
}
    
    
#logo a{
        color: rgb(32, 170, 244);
        font-size: 40px;
}
    
#logo{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        float: left;
}
    
#logo span{
        color: rgb(255, 77, 0);
}
    
/* ******************************************** IMAGE PRINCIPALE ****************************************************** --> */
 
#imagePrincipale{
        padding: 120px;
        background-size: cover;
        height: 430px;
        background-image: url(./travel_media/image_priincipal.jpeg);
}
    
h1{
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        font-style: italic;
        color: #d7f208;
        font-size: 98px;
        font-weight: bold;
        padding: 30px 50px;
}

#imagePrincipale p{
        text-align: center;
        color: #f6f7fa;
        font-size: 50px;

}

/* *************************************************************** INTRODUCTION SECTION ********************************************** --> */

h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-style: oblique;
        padding: 20px 0 20px;
        font-size: 57px;
        color: rgb(6, 159, 220);
}
    
    
#intro{
        display: list-item;
}
    
#intro1 h3{
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 30px;
        padding: 5px;
        margin: 5px;
        color: #eb0c0c;
}
    
#intro2 h3{
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 30px;
        padding-top: 5px;
        margin: 5px;
        color: rgb(183, 10, 174);
}
    
#intro3 h3{
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 30px;
        padding: 5px;
        margin: 5px;
        color: #2a0cee;
}
    
    
#intro p{
        color: black;
        font-family: Geneva, Verdana, sans-serif;
        font-size: 25px;
        padding: 10px;
        margin-bottom: 15px;
        text-align: justify;
        border-radius: 5%;
}
    

h4{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 30px;
        color: #239aea;
        padding: 35px 0 15px 10px;
    }


h6{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 33px;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        color: #e64949;
        text-transform: uppercase;
}
    
/* *************************************************************** GALLERY SECTION 1 ********************************************** -->     */
#gallery{
        display: flex;
        flex-wrap: wrap;
        flex-basis: auto;
        justify-content: space-evenly;
}
    
#gallery img{
        border-radius: 10%;
        padding-bottom: 30px;
        width: 240px;
        height: 240px;
}
    
.villes img:hover{
        opacity: 0.5;
        transform: scale(1.05);
        transition: 0.6s ease-in-out;
}

/* *************************************************************** FOOTER ********************************************************** --> */
#contact{
    font-family: 'Times New Roman', Times, serif;
    border: none;
    padding: 0 10px;
}


.name span{
    color: #eb0c0c;
    font-size: 20px;
    font: 1em sans-serif;
    padding: 0 50px 5px 0;
}

.name{
    padding: 9px 10px 9px 20px;
}


.name label{
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 20px;
    padding: 5px;
}


.name input{
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    border: none;
    padding: 7px;
}


.name textarea{
    background-color: black;
    color: aliceblue;
    font-size: 25px;
    padding: 7px
}


/* input:valid, 
textarea:valid {
    border-bottom: 2px solid greenyellow;
} */

/* 
input:invalid, 
textarea:invalid {
    border-bottom: 2px solid red;
} */


button{
        background: none;
        font-size: 25px;
        color: #ebeff3;
        margin-bottom: 20px;
        border: none;
}

footer p{
        text-align: center;
        color: #f8fafb;
}

/* ************************** Media query *************** */
/* ************************** Media query *************** */
/* ************************** Media query *************** */
/* ************************** Media query *************** */
/* ************************** Media query *************** */
/* ************************** Media query *************** */

@media screen and (min-width: 1080px) {
        *{
                padding: 0;
                margin: 0;
            }
            
            header{
                    padding: 0;
                    margin: 0;
            }
            
            body{
                font-family: 'Times New Roman', Times, serif;
                padding: 0;
                margin: 0;
                background-color: rgb(11, 7, 2);
            }
            
            footer{
                background-color: #090a01;
                padding-bottom: 10px;
                width: 100%;
            }
            /* ************************************************* HEADER ******************************* */
            nav{
                    overflow: hidden;
                    position: fixed;
                    width: 100%;
            }
            
            li {
                    text-align: center;
                    list-style:none;
                    padding:3px;
                    font-size:12px;
                    text-decoration:none;
            }
            
            li span{
                    color: #eb0c0c;
            }
            
            
            nav ul {
                    padding:0;
                    margin:0;
            }
            
            nav ul li {
                    list-style: none;
                    float:right;
                    background: scroll;
            }
            
            nav ul li a {
                    color:rgb(45, 171, 225);
                    padding:3px;
                    font-size:10px;
                    text-decoration:none;
                    }
            
            li a:hover {
                    border-bottom:3px rgb(111, 9, 9) solid;
                    background-color: #f8fafb;
                    color: #090a01;
            }
            
            nav ul li ul li{
                        display: none;
            }
                    
            nav ul li:hover ul li{
                    z-index:99999;
                    display:list-item !important;
                    margin-top:3px;
                    margin: left 3px;;
                    float: none;
            }
            
            #visa ul{
                    display:none;
            }
                
            #visa:hover ul{
                display:block;
                margin-top:3px;
                margin-left:0;
                float:none;
            }
                
                
            #logo a{
                    color: rgb(32, 170, 244);
                    font-size: 15px;
            }
                
            #logo{
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    float: left;
            }
                
            #logo span{
                    color: rgb(255, 77, 0);
            }
                
            /* ******************************************** IMAGE PRINCIPALE ****************************************************** --> */
             
            #imagePrincipale{
                    padding: 30px;
                    background-size: cover;
                    height: 100px;
                    background-image: url(./travel_media/image_priincipal.jpeg);
            }
                
            h1{
                    font-family: 'Times New Roman', Times, serif;
                    text-align: center;
                    font-style: italic;
                    color: #d7f208;
                    font-size: 20px;
                    font-weight: bold;
                    padding: 20px 20px;
            }
            
            #imagePrincipale p{
                    text-align: center;
                    color: #f6f7fa;
                    font-size: 12px;
            
            }
            
            /* *************************************************************** INTRODUCTION SECTION ********************************************** --> */
            
            h2{
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    text-align: center;
                    font-style: oblique;
                    padding: 10px 0 10px 5px;
                    font-size: 15px;
                    color: rgb(6, 159, 220);
            }
                
                
            #intro{
                    display: list-item;
            }
                
            #intro1 h3{
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    font-size: 13px;
                    padding: 2px;
                    margin: 3px;
                    color: #eb0c0c;
            }
                
            #intro2 h3{
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    font-size: 13px;
                    padding: 2px;
                    margin: 3px;
                    color: rgb(183, 10, 174);
            }
                
            #intro3 h3{
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    font-size: 13px;
                    padding: 2px;
                    margin: 3px;
                    color: #2a0cee;
            }
                
                
            #intro p{
                    color:white;
                    font-family: Geneva, Verdana, sans-serif;
                    font-size: 10px;
                    padding: 2px;
                    margin-bottom: 5px;
                    text-align: justify;
                    border-radius: 2%;
            }
                
            
            h4{
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size: 13px;
                    color: #239aea;
                    padding: 12px;
                }
            
            
            h6{
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size: 8px;
                    font-weight: bold;
                    padding: 5px;
                    text-align: center;
                    color: #e64949;
                    text-transform: uppercase;
            }
                
            /* *************************************************************** GALLERY SECTION 1 ********************************************** -->     */
            #gallery{
                    display: flex;
                    flex-wrap: wrap;
                    flex-basis: 50%;
                    justify-content: space-evenly;
            }
                
            #gallery img{
                    border-radius: 10%;
                    padding-bottom: 10px;
                    width: 50px;
                    height: 50px;
            }
                
            .villes img:hover{
                    opacity: 0.5;
                    transform: scale(1.05);
                    transition: 0.6s ease-in-out;
            }
            
            /* *************************************************************** FOOTER ********************************************************** --> */
            #contact{
                font-family: 'Times New Roman', Times, serif;
                border: none;
                padding: 0;
            }
            
            
            .name span{
                color: #eb0c0c;
                font-size: 15px;
                padding: 0 50px 5px 0;
            }
            
            .name{
                padding: 9px;
            }
            
            
            .name label{
                color: aliceblue;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
                font-size: 15px;
                padding: 4px;
            }
            
            
            .name input{
                background-color: black;
                color: aliceblue;
                font-size: 10px;
                border: none;
                padding: 4px;
            }
            
            
            .name textarea{
                background-color: black;
                color: aliceblue;
                font-size: 10px;
                padding: 4px
            }
            
            /* input:valid, 
            textarea:valid {
                border-bottom: 2px solid greenyellow;
            } */
            
            /* 
            input:invalid, 
            textarea:invalid {
                border-bottom: 2px solid red;
            } */
            
            
            button{
                    background: none;
                    font-size: 15px;
                    color: #ebeff3;
                    margin-bottom: 20px;
                    border: none;
            }
            
            footer p{
                font-size: 10px;    
                text-align: center;
                color: #f8fafb;
            }
            
        
}
